* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}
#encabezado{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    height: 45%;
}

#cuerpo{
    height: 55%;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
}

#btn1 {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    height: 65px;
    width: 170px;
    margin-top: 50px;
}

a {
    color: white;
    text-decoration: none;
}